@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");

body {
  background: #ffebd0;
  height: 100vh;
  font-family: "Style Script", cursive;
  display: flex;
  flex-direction: column;
align-items: center;
}


button{
    height: 2rem;
    width: 5rem;
    font-family: "Style Script", cursive;
    font-size: 1rem;
    background-color: #f24282;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}

input{
    height: 1.2rem;
    width: 7rem;
    font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
height: 20vh;
  align-items: center;

}

.disclaimer {
  margin-top: 0px;
}

/* header {
  height: 7em;
  width: 100%;
} */


/* header h1 {
  font-size: 3rem;
  
  font-family: "Style Script", cursive;
} */




p,
label
 {
  margin: 1rem;
  color: #f24282;
  font-size: 1.5rem;
}



.output {
    
    font-size:1.5rem ;
    margin-top: 2rem;
}


.cake1 img{
  height: 12rem;
  display:none;
    
    margin-top: 2rem;
}

.title {
  font-family: "Style Script", cursive;
  font-size: 3rem;
  margin:2rem;
}


footer {
  height: 5rem;
  width: 100vw;
  margin-top: 32rem;
  display: flex;
  flex-direction: column;
align-items: center;
}


.foot1{
    display: flex;
    height: 50%;
    justify-content: space-between;
}

.foot2{
    margin-top: 1rem;
    font-family: 'Acme', sans-serif;
}

.instagram{
    height: 3rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}


    .icon{
        height: 2.2rem;
        margin-bottom: 1rem;
        margin-top: 8px;
        
        margin-right: 1.5rem;
        
        
        
    } 


    .github{
        margin-left: 1.5rem;
    }



