@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");

body {
  background: #ffebd0;
  
  font-family: "Style Script", cursive;
}
/* * {
  margin: 0;
  padding: 0;
  
} */

button{
    height: 4rem;
    width: 9rem;
    font-family: "Style Script", cursive;
    font-size: 1.8rem;
    background-color: #f24282;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}

input{
    height: 3rem;
    width: 10rem;
    font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
height: 100vh;
  align-items: center;

}
.disclaimer {
  margin-top: 0px;
}

header {
  height: 7em;
   /* background-color: aquamarine;  */
  width: 100%;
}

header h1 {
  font-size: 4rem;
  margin: 0.7rem;
  font-family: "Style Script", cursive;
}


p,
label
 {
  margin: 4rem;
  color: #f24282;
  font-size: 3rem;
}

.output {
    
    font-size:3rem ;
    margin-top: 150px;
}

.cake1{
    display: none;
    margin-top: 200px;
}

h1 {
  font-family: "Style Script", cursive;
  font-size: 8rem;
  margin:4rem;
}

footer {
  height: 10em;
  width: 100vw;
  background-color: wheat;
  margin-top: 30rem;
  display: flex;
  flex-direction: column;
align-items: center;
}

.foot1{
    display: flex;
    height: 50%;
    justify-content: space-between;
}

.foot2{
    margin-top: 1rem;
    font-family: 'Acme', sans-serif;
}

.instagram{
    height: 4rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}


    .icon{
        height: 3rem;
        margin-bottom: 1rem;
        margin-top: 10px;
        
        margin-right: 1.5rem;
        
        
        
    } 


    .github{
        margin-left: 1.5rem;
    }



